#root {
  margin: 10px auto;
  text-align: center;
  font-family: Garamond;
  color: #174691;
  background-color: white;
}

body {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  place-items: center;
  min-width: 100vh;
  min-height: 100vh;
}


